In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('customer_data5.csv')

In [4]:
data.head()

   customer_id  age gender            email  purchases
0         1001   35      M  abc@example.com       10.0
1         1002   28      F  def@example.com        5.0
2         1003   40      F  ghi@example.com        NaN
3         1004   45      M  jkl@example.com        8.0
4         1005   33      M  mno@example.com       15.0

In [5]:
data.drop_duplicates(subset=['customer_id'], inplace=True)

In [6]:
data['purchases'].fillna(0, inplace=True)

In [7]:
average_purchases_by_gender = data.groupby('gender')['purchases'].mean()

In [8]:
print(average_purchases_by_gender)

gender
F     4.20
M    11.25
Name: purchases, dtype: float64